{% extends "base.html" %}

{% block content %}

<div
class="bg-image"
style="
  background-image: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 
  "
>
<p>Download the file and check </p>
<a href="dec_download?file=download"> download</a>
<form method="POST">

  <br>
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example3">Feedback on the document</label>
    <textarea class="form-control" id="form4Example3"  name ="comment" rows="4"></textarea>
    
  </div>

  <br>
  <label class="form-label" for="form4Example3">Enter your Private Key
  </label>
  <input type="password" name="privateKey">

  <br>
  
  <br>  

  <p>Click Approval if satisfied with the document</p>
  <input type="radio" id="age1" name="Approve" value="Approve">
  <label for="age1">Approve & Sign</label><br>
  <input type="radio" id="age2" name="Approve" value="Not Approve">
  <label for="age2">Not Approve</label><br>  
 
  <input type="submit" value="Submit">


</form>


{% endblock %}