{% extends 'base.html' %}
{% block nav %} 
<li><a href="{{ url_for('login') }}"> login </a></li> 
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
    body{
    background-image:url(https://wallpapers.com/images/hd/cyber-background-h5qjlsfpwly52fqm.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;}
h3,h2,a{
    text-align: center;
    
};
h2{
    size: 50px;
    color: gray;
}
h3{
    size: 50px;
    color: black;
}
h4{
    color: yellow;
    size: 40px;
}
</style>

<section class="vh-100" >
 <h2>The Private key can be downloaded from the below link</h2>
<h3>Never share the private key with anyone</h3>
<h3>store it in a secured place</h3>
<br>
<a href="{{ url_for('file_download') }}"><h4>Download the Encrypted file</h4></p></a>
<br><br><br><br><br><br><br><br><br>
</section>




{% endblock %}