
{% extends 'base.html' %}
{% block nav %}

<li><a href="{{ url_for('Profile.profile') }}"><i class="fa fa-fw fa-user"></i>Hello {{ g.username }}</a></li>
<li><a href="{{ url_for('logout') }}">Logout </a></li>

{% endblock %}
{% block content %}
<div id="main" class="wrapper style1"   class="bg-image"
style="
  background-image: url('https://wallpaperaccess.com/full/1267601.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
" >
    <div class="container">
        <header class="major">
            <h2>Please upload the file</h2>
            
        </header>

        <!-- Content -->
            <section id="content">
                <!-- <a href="#" class="image fit"><img src= "/static/images/ipfs.jpg" alt="image not found" /></a> -->
                
                <form method = 'POST' enctype="multipart/form-data">
                    <br>
                    <div id="options">
                      
                      <label >Enter the username of the Receiver</label>
                      <input type="text" name="options[]" class="options" size="50" placeholder="Enter the username">
                    </div>
                    <div class="controls">
                      <a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Add Receiver </a>
                      <br>
                      <a href="#" id="remove_fields"><i class="fa fa-minus"></i>Remove Receiver</a>
                    </div>
                    <!-- <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3">Enter Receivers username</label>
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                          placeholder="Enter a valid username"  name="username[]"/>
                          <div class="controls">
                            <a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Add More</a>
                            <a href="#" id="remove_fields"><i class="fa fa-plus"></i>Remove Field</a>
                          </div>
                      </div> -->
                    <br>
                    
                      <input type="file" name = "file">
                      <br>
                      <br>
                     
                        <br>
                      <button type="submit"> submit</button>
                    <br>
                
                  </form>
                
            </section>

    </div>
</div>
{% endblock %}