{% extends 'base.html' %}
{% block nav %} 

{% if session['username'] %}
<li><a href="{{ url_for('Profile.profile') }}"><i class="fa fa-fw fa-user"></i>Hello {{ g.username }}</a></li>
{% endif %}
{% if not session['username'] %}
<li><a href="{{ url_for('login') }}">Login</a></li>
{% endif %}
{% endblock %}
{% block content %}
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>File Sharing Using IPFS</h2>
							<p>A simple website to share files using IPFS<br/>
								and digitally sign the documents</p>
							
						</header>
						<span class="image"><img src="{{ url_for('static', filename='images/ipfs.jpg') }}" alt="No img" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/pic11.jpg') }}" alt="No img" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>About IPFS</h2>
										<p>InterPlanetary File System</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>IPFS is based on a content-addressed system, which means that files are addressed by their content, rather than by a location or a name. This allows for content-based routing, where files can be stored and retrieved from any node in the network, without relying on a centralized server. </p>
								</div>
								<div class="col-4 col-12-medium">
									<p>In IPFS, files are divided into small chunks, and each chunk is assigned a unique content-addressed hash. These hashes can be used to locate and retrieve the file chunks from other nodes in the network.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/face.jpg') }}" alt="No img" /></span>
					<div class="content">
						<header>
							<h2>Facial Recognition</h2>
							<p>Face authentication is a secure and convenient way to verify the identity of users accessing protected areas of your website.</p>
						</header>
						<p>
							At our website, we have implemented face authentication technology to provide our users with an additional layer of security when accessing sensitive data or features.
						</p>
						<ul class="actions">
							<li><a href="https://en.wikipedia.org/wiki/Facial_recognition_system" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{{ url_for('static', filename='images/pic009.jpg') }}" alt="" /></span>
					<div class="content">
						<header>
							<h2>Digital Signature</h2>
							<p>Digital signatures are a secure and reliable way to authenticate and verify the identity of users accessing our website. </p>
						</header>
						<p>
							Our digital signature technology provides a tamper-proof way of signing and verifying electronic documents, ensuring the integrity and authenticity of online transactions.
						</p>
						<ul class="actions">
							<li><a href="https://en.wikipedia.org/wiki/Digital_signature" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<!-- <section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Accumsan sed tempus adipiscing blandit</h2>
							<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-chart-area"></span>
									<h3>Ipsum sed commodo</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Eleifend lorem ornare</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-file"></span>
									<h3>Odio laoreet accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer>
					</div>
				</section> -->

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section>

{% endblock %}