{% extends 'base.html' %}

{% block nav %}


<li>
  <a href="#">Services</a>
  <ul>
    <li><a href="#">Approve docs</a></li>
    <li><a href="{{ url_for('Verify.verify') }}">Verify Doc Sign</a></li>
    <li><a href="{{ url_for('File_upload.file_upload')}}">Upload File</a></li>
    <li><a href="{{ url_for('AddReceiver.addReceiver')}}">Add Receivers</a></li>
    <li><a href="{{ url_for('received_files.received_files')}}">Received files</a></li>
  </ul>
</li>
<li><a href="{{ url_for('logout') }}">Logout </a></li>

{% endblock %}

{%  block content %}

<section
    
class="bg-image"
style="
  background-image: url(https://info.varonis.com/hubfs/Imported_Blog_Media/secure-files-hero-3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
">
<br>
<br>
    <div class="container py-5"
        
    >
    <br>
    <br>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                
              <h5 class="my-3"> Hello, {{ g.username }}</h5>
            
            </div>
          </div>
          <br>
          <!-- <ul>
            {% for item in files %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul> -->

          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">File Hash of the document</span> 
                  </p>
                  {% for item in files %}
                  <a class="mb-1" style="font-size: .77rem;" href="https://VASDoc.infura-ipfs.io/ipfs/{{ item }}" >{{ item }}</a>                 
                 
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  
                  {% endfor %}
              
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Number of documents submitted</span> 
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">10</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4"><span class="text-primary font-italic me-1">Document Feedback</span> 
                    </p>
                    <p class="mb-1" style="font-size: .77rem;">Change footer</p>
                    <div class="progress rounded" style="height: 5px;">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4"><span class="text-primary font-italic me-1">Document status</span> 
                    </p>
                    <p class="mb-1" style="font-size: .77rem;">Approved</p>
                    <div class="progress rounded" style="height: 5px;">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                  </div>
                </div>
              </div>
              
          </div>
          <br>
<br>
<br>
<br>
          
        </div>
      </div>
      <br>
<br>
    </div>
  </section>

{% endblock %}