{% extends 'base.html' %}
{% block content %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
    
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <br>
        <br>
        <form method="POST">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text"  class="form-control form-control-lg"  name = "name"/>
            <label class="form-label" for="form1Example13">User Name</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text"  class="form-control form-control-lg" name="username" />
            <label class="form-label" for="form1Example13"> User Id</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" name = "password" />
            <label class="form-label" for="form1Example23">Password</label>
          </div>



          <!-- Submit button -->
          <button type="submit" class="btn btn-secondary btn-lg btn-block">Register</button>


        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}