{% extends "base.html" %}

{% block content %}
<style>
  h2{
    text-align: center;
    size: 55px;
  }
</style>
<div
  class="bg-image"
  style="
    background-image: url('https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=1060&t=st=1684774607~exp=1684775207~hmac=2c99ee761831d650157e7d50cfa9e5d7bf48496d03c77bd5e64e2fc318153b12');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  "
>
<br><br><br><br><br><br><br><br>
<h2>{{ message }}</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</div>


{% endblock %}